h1 {
    margin: 10px;
}

ul li {
    list-style: none;
    margin-top: 10px;
}

ul {
    margin: 0 auto;
}


input#button {
    display: block;
    margin: 0 auto;
}

.button{
    padding: 0.3em 1em;
}