h1 {
    margin: 10px;
}

table {
    margin: 10px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
}


table td.todo-id {
    width: 50px;
    padding: 10px;
    text-align: center;
}

table td.title {
    width: 150px;
    padding: 10px;
}

table td.detail {
    width: 500px;
    padding: 10px;
}

.operation-area{
    margin: 10px;
}

button{
    padding: 0.3em 1em;
}