<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/detail.css" type="text/css" />
</head>

<body>
    <h1>New Todo</h1>

    <form method="POST" action="./register" th:object="${todoApp}">
        <ul>
            <li>
                <label for="category">Category</label>
                <input id="category" type="text" th:field="*{category}"></input>
                <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</label>
            </li>
            <li>
                <label for="title">Title</label>
                <input id="title" type="text" th:field="*{title}"></input>
                <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</label>
            </li>
            <li>
                <label for="detail">Detail</label>
                <textarea id="detail" type="text" th:field="*{detail}"></textarea>
                <label th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}">Detail Error</label>
            </li>
            <li><input class="button" type="submit" name="register" value="Register"></input></li>
        </ul>
    </form>
</body>

</html>