<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body>
    <h1>Todo List</h1>
    <div class="operation-area">
        <button type="button" onclick="location.href='./new'">New Todo</button>
    </div>
        <form method="post" th:action="@{/search}" th:object="${todoApp}">
            <table>
              <tr><td>TodoId : <input type="search" name="todoId"/></td></tr>
              <tr><td>Category : <input type="search" name="category"/></td></tr>
              <tr><td>Title : <input type="search" name="title"/></td></tr>
              <tr><td>Detail : <input type="search" name="detail"/></td></tr>
              <tr><td><input type="submit" value="Search"/></td></tr>
            </table>
        </form>
        <button type="button" onclick="location.href='./index'">Show all data</button>
    <table>
        <thead>
            <tr>
                <th>TodoId</th>
                <th>Category</th>
                <th>Title</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${todoList}">
                <!--tymeleafの記述方法 -->
                <td class="todo-id" th:text="${result['todoId']}"></td>
                <td class="category" th:text="${result['category']}"></td>
                <td class="title" th:text="${result['title']}"></td>
                <td class="detail" th:text="${result['detail']}"></td>
                <td>
                    <form method="GET" th:action="@{/edit}">
                        <input type="hidden" name="todoId" th:value="${result['todoId']}"></input>
                        <input type="submit" value="Edit"></input>
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/delete(todoId=${result['todoId']})}">
                        <input type="submit" value="Delete"></input>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>